<!DOCTYPE html>
<!--<!doctype html>-->
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/js/style.css">


    <title>Home Page</title>
  </head>
  <body>
       <!-- id="navbarNavDropdown -->
    <!-- menu baslangic -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><h3>Toggle Center</h3></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" >
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/shop_all">Shop All</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/mobil">Mobile Phones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tablets">Tablets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/accessories">Accessories</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Cart</a>
              </li>
        
           
          </ul>
        </div>
      </nav>

    <!-- menu son -->

    <div id="mob"><h3> <b> MOBILE PHONE & TABLETS REPAIR SERVICE FOR ALL BRANDS - GET A QUOTE</b></h3></div>

    <!-- slider baslangic -->
<div id="slayt">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner ">
          <div class="carousel-item active">
            <img src="https://static.wixstatic.com/media/82fcd3_b26117faa9994339ae25d127dfcc4883~mv2_d_2957_1280_s_2.jpg/v1/fill/w_970,h_428,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_b26117faa9994339ae25d127dfcc4883~mv2_d_2957_1280_s_2.webp" class="c-block w-70 resimS" alt="...">
          </div>
          <div class="carousel-item">
          <img src="https://static.wixstatic.com/media/82fcd3_95f1d2a3675c4d07ae9dafbdacf34a93~mv2_d_2957_1280_s_2.jpg/v1/fill/w_970,h_428,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_95f1d2a3675c4d07ae9dafbdacf34a93~mv2_d_2957_1280_s_2.webp" class="c-block w-70 resimS" alt="..."> -->
          </div>
          <div class="carousel-item">
            <img src="https://static.wixstatic.com/media/82fcd3_fc30a6b06586430389e65d2869f7e6cc~mv2_d_2957_1280_s_2.jpg/v1/fill/w_970,h_428,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_fc30a6b06586430389e65d2869f7e6cc~mv2_d_2957_1280_s_2.webp" class="c-block w-70 resimS" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <!-- slider son -->

    <!-- Mobil Phonun baslangici  -->
    
<section>
<div id="mobil">
  
   <h1><b>Most Popular</b></h1> <br>
   <h1><b>Mobile Phones  ___________________________________</b></h1>   

  <table>
  <tr>
  <td>
    <img src="https://static.wixstatic.com/media/82fcd3_036cd95f7fed4e3696e01f081166799f~mv2_d_1440_1920_s_2.png/v1/fill/w_196,h_261,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_036cd95f7fed4e3696e01f081166799f~mv2_d_1440_1920_s_2.webp" class="img-fluid" alt="Responsive image">
    <h5><b>I"m a product</b></h5><br> <h6>$669,00</h6>
    <button class="add">Add to Card</button>
  </td>
  <td>
     <img src="https://static.wixstatic.com/media/82fcd3_133511a3060844a1970ae5880483e695~mv2_d_1440_1920_s_2.png/v1/fill/w_196,h_261,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_133511a3060844a1970ae5880483e695~mv2_d_1440_1920_s_2.webp "  class="img-fluid" alt="Responsive image">
     <h5><b>I"m a product</b></h5><br> <h6>$549,00</h6>
     <button class="add">Add to Card</button>
    </td>
  <td>
      <img src="https://static.wixstatic.com/media/82fcd3_51c0660f81a944bcb70b7ec3a226d15d~mv2_d_1440_1920_s_2.png/v1/fill/w_196,h_261,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_51c0660f81a944bcb70b7ec3a226d15d~mv2_d_1440_1920_s_2.webp"  class="img-fluid" alt="Responsive image">
      <h5><b>I"m a product</b></h5><br> <h6> $549,00</h6>
      <button class="add">Add to Card</button>
    </td>
  <td>
     <img src="https://static.wixstatic.com/media/82fcd3_d4ce8dbd7be046b8b8ff9f2e5480a3d4~mv2_d_1440_1920_s_2.png/v1/fill/w_196,h_261,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_d4ce8dbd7be046b8b8ff9f2e5480a3d4~mv2_d_1440_1920_s_2.webp"  class="img-fluid" alt="Responsive image">
     <h5><b>I"m a product</b></h5><br> <h6> $499,00</h6>
     <button class="add">Add to Card</button>
    </td>
  <td>
     <img src="https://static.wixstatic.com/media/82fcd3_634ef820b55a4dbc8c8cd165bf9090cd~mv2_d_1440_1920_s_2.png/v1/fill/w_196,h_261,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_634ef820b55a4dbc8c8cd165bf9090cd~mv2_d_1440_1920_s_2.webp"  class="img-fluid" alt="Responsive image">
     <h5><b>I"m a product</b></h5><br> <h6> $199,00</h6>
     <button class="add">Add to Card</button>
    </td>
  </tr>
  </table>
</div>
</section>

<div id="more">
     
      <button id="butn" type="submit">
        <a href="#"> More Mobile Phones </a>
      </button>
  
</div>
<!-- Mobil Phonun sonu -->
<!-- Tabletin baslangici -->

<section>
  <div id="tabac">
    
     <h1><b>Bestselling</b></h1> <br>
     <h1><b>Tablets  ___________________________________</b></h1>   
  
    <table>
    <tr>
    <td>
     <a href="" > <img src="https://static.wixstatic.com/media/82fcd3_78b476c8638e4922b177a9f48fe24059~mv2_d_1440_1920_s_2.png/v1/fill/w_196,h_261,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_78b476c8638e4922b177a9f48fe24059~mv2_d_1440_1920_s_2.webp" alt=""></a>
     <h5><b>I"m a product</b></h5><br>  <h6>$599,00</h6>
     <button class="add">Add to Card</button>
    </td>
    <td>
       <a href=""> <img src="https://static.wixstatic.com/media/82fcd3_cc69426f6f2d493ca368e47acd0bca09~mv2_d_1440_1920_s_2.png/v1/fill/w_196,h_261,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_cc69426f6f2d493ca368e47acd0bca09~mv2_d_1440_1920_s_2.webp" alt=""></a>
       <h5><b>I"m a product</b></h5><br> <h6>$311,20</h6>
       <button class="add">Add to Card</button>
      </td>
    <td>
      <a href=""> <img src="https://static.wixstatic.com/media/82fcd3_87e28b4682504f199db8481bac083d06~mv2_d_1440_1920_s_2.png/v1/fill/w_196,h_261,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_87e28b4682504f199db8481bac083d06~mv2_d_1440_1920_s_2.webp" alt=""></a>
       <h5><b>I"m a product</b></h5><br> <h6>$85,00</h6>
       <button class="add">Add to Card</button>
      </td>
    <td>
      <a href=""> <img src="https://static.wixstatic.com/media/82fcd3_ad974d8560264ce7a09f33ef0e804c3d~mv2_d_1440_1920_s_2.png/v1/fill/w_196,h_261,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_ad974d8560264ce7a09f33ef0e804c3d~mv2_d_1440_1920_s_2.webp" alt=""></a>
       <h5><b>I"m a product</b> </h5><br> <h6>$399,00</h6>
       <button class="add">Add to Card</button>
      </td>
    <td>
      <a href=""> <img src="https://static.wixstatic.com/media/82fcd3_ff21327745a54efcb3190cda6fb3aa0c~mv2_d_1440_1920_s_2.png/v1/fill/w_196,h_261,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_ff21327745a54efcb3190cda6fb3aa0c~mv2_d_1440_1920_s_2.webp" alt=""></a>
       <h5><b>I"m a product</b></h5><br>  <h6>249,00</h6>
       <button class="add">Add to Card</button>
      </td>
    </tr>
    </table>
  </div>
  </section>
  
  <div id="more">
       
        <button id="butn" type="submit">
          <a href="#"> More Tablets </a>
        </button>
    
  </div>

   <!-- Tabletin sonu -->
   <!-- Acsesuarin baslamgici -->
   <section>
    <div id="tabac">
      
       <h1><b>Mobile</b></h1> <br>
       <h1><b>Accessories  ___________________________________</b></h1>   
    
      <table>
      <tr>
      <td>
       <a href="" > <img src="https://static.wixstatic.com/media/82fcd3_4cd855833c7d4d608400c76c8048aae8~mv2_d_1440_1920_s_2.png/v1/fill/w_196,h_261,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_4cd855833c7d4d608400c76c8048aae8~mv2_d_1440_1920_s_2.webp" alt=""></a>
       <h5><b>I"m a product</b></h5><br>  <h6>$19,00</h6>
       <button class="add">Add to Card</button>
      </td>
      <td>
         <a href=""> <img src="https://static.wixstatic.com/media/82fcd3_93e3ed3a7844429cb0ddc4404b52365c~mv2_d_1440_1920_s_2.png/v1/fill/w_196,h_261,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_93e3ed3a7844429cb0ddc4404b52365c~mv2_d_1440_1920_s_2.webp" alt=""></a>
         <h5><b>I"m a product</b></h5><br> <h6>$15,00</h6>
         <button class="add">Add to Card</button>
        </td>
      <td>
        <a href=""> <img src="https://static.wixstatic.com/media/82fcd3_9e8de1b971c9457780c85f71d73501e5~mv2_d_1440_1920_s_2.png/v1/fill/w_196,h_261,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_9e8de1b971c9457780c85f71d73501e5~mv2_d_1440_1920_s_2.webp" alt=""></a>
         <h5><b>I"m a product</b></h5><br> <h6>$39,00</h6>
         <button class="add">Add to Card</button>
        </td>
      <td>
        <a href=""> <img src="https://static.wixstatic.com/media/82fcd3_8ebe0dcd88cc40fd9e88ab414605a96c~mv2_d_1440_1920_s_2.png/v1/fill/w_196,h_261,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_8ebe0dcd88cc40fd9e88ab414605a96c~mv2_d_1440_1920_s_2.webp" alt=""></a>
         <h5><b>I"m a product</b> </h5><br> <h6>$29,00</h6>
         <button class="add">Add to Card</button>
        </td>
      <td>
        <a href=""> <img src="https://static.wixstatic.com/media/82fcd3_17b5f964bf1245f2872bec4a5db1bcd3~mv2_d_1440_1920_s_2.png/v1/fill/w_196,h_261,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_17b5f964bf1245f2872bec4a5db1bcd3~mv2_d_1440_1920_s_2.webp" alt=""></a>
         <h5><b>I"m a product</b></h5><br>  <h6>$19,00</h6>
         <button class="add">Add to Card</button>
        </td>
      </tr>
      </table>
    </div>
    </section>
    
    <div id="more">
         
          <button id="butn" type="submit">
            <a href="#"> More Accessories </a>
          </button>
      
    </div>

    <!-- Acsesuarin sonu -->
    <!-- Brand baslangic -->

    <div id="Brand">

      <h1><b>Our</b></h1> <br>
     <h1><b>Brands  ______________________________________</b></h1>  
      <div class="br">
     <table>
       <tr>
         <td><img src="https://static.wixstatic.com/media/82fcd3_ea766bbfde24412bbb7591ae951f6e6c~mv2.png/v1/fill/w_217,h_97,al_c,q_85/82fcd3_ea766bbfde24412bbb7591ae951f6e6c~mv2.webp" alt=""></td>
         <td><img src="https://static.wixstatic.com/media/82fcd3_22fbd4d2238e4a81915fee68189b6227~mv2.png/v1/fill/w_217,h_97,al_c,q_85/82fcd3_22fbd4d2238e4a81915fee68189b6227~mv2.webp" alt=""></td>
         <td><img src="https://static.wixstatic.com/media/82fcd3_00ea3058582d40ffb45b639a3e65c0d8~mv2.png/v1/fill/w_217,h_97,al_c,q_85/82fcd3_00ea3058582d40ffb45b639a3e65c0d8~mv2.webp" alt=""></td>
         <td><img src="https://static.wixstatic.com/media/82fcd3_cb93f624320340ffa10ec87f0577a7db~mv2.png/v1/fill/w_217,h_97,al_c,q_85/82fcd3_cb93f624320340ffa10ec87f0577a7db~mv2.webp" alt=""></td>
       </tr>
       <br><br>
       <tr>
        <td><img src="https://static.wixstatic.com/media/82fcd3_e545bcafbeda47f7a09947d0c0967824~mv2.png/v1/fill/w_217,h_97,al_c,q_85/82fcd3_e545bcafbeda47f7a09947d0c0967824~mv2.webp" alt=""></td>
        <td><img src="https://static.wixstatic.com/media/82fcd3_e77da6bab3164d2c8d8c9f8e95fabce9~mv2.png/v1/fill/w_217,h_97,al_c,q_85/82fcd3_e77da6bab3164d2c8d8c9f8e95fabce9~mv2.webp"></td>
        <td><img src="https://static.wixstatic.com/media/82fcd3_2752121ba0d94fda84435d8360cea632~mv2.png/v1/fill/w_217,h_97,al_c,q_85/82fcd3_2752121ba0d94fda84435d8360cea632~mv2.webp" alt=""></td>
        <td><img src="https://static.wixstatic.com/media/82fcd3_4bf1b2f2c21b4d79abd1cd9674cd9c2c~mv2.png/v1/fill/w_217,h_97,al_c,q_85/82fcd3_4bf1b2f2c21b4d79abd1cd9674cd9c2c~mv2.webp" alt=""></td>
       </tr>
     </table>
    </div>

  </div>

    <!-- Brand son -->

    <!-- Sonun baslangici) -->

    <div id="black">
     <table>
       <tr>
         <td><h1> Be the First to Know <br>
          About Deals and <br>
         Special Offers
     </h1></td>
         <td>
          <form action="" id="emaill">
           <input type="email" id="email" name="email" placeholder="Enter your email here*">
           <button id="butn">Subscribe Now</button>

          </form>
         </td>
       </tr>
     </table>
      
     <div id="how">
      <table>
      <tr>
        <td><h4><b><p>How can we help?</p></b></h4></td>
        <span><td><h1><b>___________________________________________</b></h1></td><span>
      </tr>
      </table>

     </div>

    </div>

    <div id="info">
     <table cellpadding="10">
      <tr>
        <td> Customer Service</td>
        <td>Shop All</td>
        <td>FAQ</td>
        <td> <a href="https://www.facebook.com/">Facebook</a></td>
       </tr>
     <tr>
        <td>123-456-7890</td>
        <td>Mobil Phones</td>
        <td>Shipping & Returnes</td>
        <td> <a href="https://www.twitter.com/"> Twitter</a></td>
       </tr>
     <tr> 
        <td>info@my-domain.com</td>
        <td>Tablets</td>
        <td>Story Policy</td>
        <td> <a href="https://www.instagram.com/"> Instagram</a></td></tr>
    <tr> 
        <td>500 Terry Francois Street</td>
        <td>Accessories</td>
        <td>Payment Methods</td>
        <td> <a href="https://youtube.com/"> YouTube</a></td></tr>
      <tr> 
        <td> San Francisco, CA 94158</td>
        <td>About</td>
        <td></td>
        <td></td></tr>
    <tr> 
        <td></td>
        <td>Contact</td>
        <td></td>
        <td></td></tr>
     </table>
    </div>
  </div>

<!-- chatbox -->
    
<div class="chatbox">
  <div class="chatbox__support">
      <div class="chatbox__header">
         <div class="chatbox__conttent--header">
           <h4 class="chatbox__heading--header">Toggle Center</h4>
          <p class="chatbox__description--header">We’ll reply as soon as we can</p>
         </div>
      </div>
      <div class="chatbox__messages">
          <div>
              <div class="messages__item messages__item--visitor">
                  Hi!
              </div>
              <div class="messages__item messages__item--operator">
                  What is it?
              </div>
              .<div class="messages__item messages__item--typing">
                  <span class="messages__dot"></span>
                  <span class="messages__dot"></span>
                  <span class="messages__dot"></span>
              </div>
          </div>
      </div>
      <div class="chatbox__footer">
        <img src="image/iconmonstr-smiley-thin.svg" alt="">
        <img src="image/iconmonstr-note-36.svg" alt="">
        <input type="text" placeholder="Write a message">
        <p class="chatbox__send--footer">Send</p>
       
      </div>
  </div>
  <div class="chatbox__button">
      <button>button</button>
  </div>
</div>









    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="/css/js/chat.js"></script>
    <script src="/css/js/app.js"></script>
  </body>
</html>
