<!DOCTYPE html>
<!--<!doctype html>-->
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
    <script src="/css/js/app.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/js/style.css">


    <title>Shop All</title>
  </head>
  <body>

    <!-- menu baslangic -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><h3>Toggle Center</h3></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/shop_all">Shop All</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/mobil">Mobile Phones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tablets">Tablets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/accessories">Accessories</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Cart</a>
              </li>
        
          
          </ul>
        </div>
      </nav>
      <!-- menu sonu -->

<div id="shop1">
    <div id="shop2">     <h1><b> Shop All  ______________________________________</b></h1>         </div>
    

 

<section>
  <nav>

<ul >
<li><a href="">Filter by</a></li>
<li class="col"><a href="#">Collection</a>
  <ul class="navbarNavDropdown" style="display: none;">
     <li><a href="mobil.html">Mobile Phones</a></li>
     <li><a href="tablets.html">Tablets</a></li>
     <li><a href="accesories.html">Accessories</a></li>
  </ul>
</li>
<li class="pri"><a href="#">Price</a>
  <ul class="rang" style="display: none;">
    <li>
      <div class="price-range-slider">
  
        <p class="range-value">
          <input type="text" id="amount" readonly>
        </p>
        <div id="slider-range" class="range-bar"></div>
        
      </div>
      
    </li>
  </ul>
</li>
<li><a href="#">Color</a></li>
<li><a href="#">Brand</a></li>
<li><a href="#">Product</a></li>
</ul>
</nav>
  </section>
<div id="computers">
      <table>
      <tr>
       <span> <td><img src="https://static.wixstatic.com/media/82fcd3_036cd95f7fed4e3696e01f081166799f~mv2_d_1440_1920_s_2.png/v1/fill/w_206,h_275,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_036cd95f7fed4e3696e01f081166799f~mv2_d_1440_1920_s_2.webp" alt="" data-price="609"><h5><b>I"m a product</b></h5><br> <h6>$609,00</h6><button class="add">Add to Card</button></td></span>
       <span> <td><img src="https://static.wixstatic.com/media/82fcd3_133511a3060844a1970ae5880483e695~mv2_d_1440_1920_s_2.png/v1/fill/w_206,h_275,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_133511a3060844a1970ae5880483e695~mv2_d_1440_1920_s_2.webp" alt="" data-price="659"><h5><b>I"m a product</b></h5><br> <h6>$659,00</h6><button class="add">Add to Card</button></td></span>
       <span> <td><img src="https://static.wixstatic.com/media/82fcd3_51c0660f81a944bcb70b7ec3a226d15d~mv2_d_1440_1920_s_2.png/v1/fill/w_206,h_275,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_51c0660f81a944bcb70b7ec3a226d15d~mv2_d_1440_1920_s_2.webp" alt="" data-price="649"><h5><b>I"m a product</b></h5><br> <h6>$649,00</h6><button class="add">Add to Card</button></td></span>
      </tr>
      <tr>
      <td><img src="https://static.wixstatic.com/media/82fcd3_d4ce8dbd7be046b8b8ff9f2e5480a3d4~mv2_d_1440_1920_s_2.png/v1/fill/w_206,h_275,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_d4ce8dbd7be046b8b8ff9f2e5480a3d4~mv2_d_1440_1920_s_2.webp" alt="" data-price="579"><h5><b>I"m a product</b></h5><br> <h6>$579,00</h6><button class="add">Add to Card</button></td>
      <td><img src="https://static.wixstatic.com/media/82fcd3_fa790fd4409b44c993afe93b6cd979f7~mv2_d_1440_1920_s_2.png/v1/fill/w_206,h_275,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_fa790fd4409b44c993afe93b6cd979f7~mv2_d_1440_1920_s_2.webp" alt="" data-price="479"><h5><b>I"m a product</b></h5><br> <h6>$479,00</h6><button class="add">Add to Card</button></td>
      <td><img src="https://static.wixstatic.com/media/82fcd3_634ef820b55a4dbc8c8cd165bf9090cd~mv2_d_1440_1920_s_2.png/v1/fill/w_206,h_275,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_634ef820b55a4dbc8c8cd165bf9090cd~mv2_d_1440_1920_s_2.webp" alt="" data-price="598"><h5><b>I"m a product</b></h5><br> <h6>$598,00</h6><button class="add">Add to Card</button></td>
      </tr>
      <tr> 
        <td><img src="https://static.wixstatic.com/media/82fcd3_9138b2f66e78470baea4feb3a3989b1a~mv2_d_1440_1920_s_2.png/v1/fill/w_206,h_275,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_9138b2f66e78470baea4feb3a3989b1a~mv2_d_1440_1920_s_2.webp" alt="" data-price="356"><h5><b>I"m a product</b></h5><br> <h6>$356,00</h6><button class="add">Add to Card</button></td>
        <td><img src="https://static.wixstatic.com/media/82fcd3_5509859d3a9743e997d289390bfa4e5a~mv2_d_1440_1920_s_2.png/v1/fill/w_206,h_275,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_5509859d3a9743e997d289390bfa4e5a~mv2_d_1440_1920_s_2.webp" alt="" data-price="365"><h5><b>I"m a product</b></h5><br> <h6>$365,00</h6><button class="add">Add to Card</button></td>
        <td><img src="https://static.wixstatic.com/media/82fcd3_6084f6cc7dd04170bfcd00125ce7ea55~mv2_d_1440_1920_s_2.png/v1/fill/w_206,h_275,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_6084f6cc7dd04170bfcd00125ce7ea55~mv2_d_1440_1920_s_2.webp" alt="" data-price="289"><h5><b>I"m a product</b></h5><br> <h6>$289,00</h6><button class="add">Add to Card</button></td>
      </tr>
      <tr>
        <td><img src="https://static.wixstatic.com/media/82fcd3_78b476c8638e4922b177a9f48fe24059~mv2_d_1440_1920_s_2.png/v1/fill/w_206,h_275,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_78b476c8638e4922b177a9f48fe24059~mv2_d_1440_1920_s_2.webp" alt="" data-price="259"><h5><b>I"m a product</b></h5><br> <h6>$259,00</h6><button class="add">Add to Card</button></td>
        <td><img src="https://static.wixstatic.com/media/82fcd3_cc69426f6f2d493ca368e47acd0bca09~mv2_d_1440_1920_s_2.png/v1/fill/w_206,h_275,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_cc69426f6f2d493ca368e47acd0bca09~mv2_d_1440_1920_s_2.webp" alt="" data-price="455"><h5><b>I"m a product</b></h5><br> <h6>$455,00</h6><button class="add">Add to Card</button></td>
        <td><img src="https://static.wixstatic.com/media/82fcd3_87e28b4682504f199db8481bac083d06~mv2_d_1440_1920_s_2.png/v1/fill/w_206,h_275,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_87e28b4682504f199db8481bac083d06~mv2_d_1440_1920_s_2.webp" alt="" data-price="367"><h5><b>I"m a product</b></h5><br> <h6>$367,00</h6><button class="add">Add to Card</button></td>
      </tr>
      <tr>
        <td><img src="https://static.wixstatic.com/media/82fcd3_ad974d8560264ce7a09f33ef0e804c3d~mv2_d_1440_1920_s_2.png/v1/fill/w_206,h_275,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_ad974d8560264ce7a09f33ef0e804c3d~mv2_d_1440_1920_s_2.webp" alt="" data-price="669"><h5><b>I"m a product</b></h5><br> <h6>$669,00</h6><button class="add">Add to Card</button></td>
        <td><img src="https://static.wixstatic.com/media/82fcd3_ff21327745a54efcb3190cda6fb3aa0c~mv2_d_1440_1920_s_2.png/v1/fill/w_206,h_275,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_ff21327745a54efcb3190cda6fb3aa0c~mv2_d_1440_1920_s_2.webp" alt="" data-price="669"><h5><b>I"m a product</b></h5><br> <h6>$669,00</h6><button class="add">Add to Card</button></td>
        <td><img src="https://static.wixstatic.com/media/82fcd3_1c04d5f8ea3946b88f947ff29328a741~mv2_d_1440_1920_s_2.png/v1/fill/w_206,h_275,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_1c04d5f8ea3946b88f947ff29328a741~mv2_d_1440_1920_s_2.webp" alt="" data-price="669"><h5><b>I"m a product</b></h5><br> <h6>$669,00</h6><button class="add">Add to Card</button></td>
      </tr>
      <tr>
        <td><img src="https://static.wixstatic.com/media/82fcd3_4cd855833c7d4d608400c76c8048aae8~mv2_d_1440_1920_s_2.png/v1/fill/w_206,h_275,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_4cd855833c7d4d608400c76c8048aae8~mv2_d_1440_1920_s_2.webp" alt="" data-price="99"><h5><b>I"m a product</b></h5><br> <h6>$99,00</h6><button class="add">Add to Card</button></td>
        <td><img src="https://static.wixstatic.com/media/82fcd3_93e3ed3a7844429cb0ddc4404b52365c~mv2_d_1440_1920_s_2.png/v1/fill/w_206,h_275,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_93e3ed3a7844429cb0ddc4404b52365c~mv2_d_1440_1920_s_2.webp" alt="" data-price="89"><h5><b>I"m a product</b></h5><br> <h6>$89,00</h6><button class="add">Add to Card</button></td>
        <td><img src="https://static.wixstatic.com/media/82fcd3_9e8de1b971c9457780c85f71d73501e5~mv2_d_1440_1920_s_2.png/v1/fill/w_206,h_275,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_9e8de1b971c9457780c85f71d73501e5~mv2_d_1440_1920_s_2.webp" alt="" data-price="29"><h5><b>I"m a product</b></h5><br> <h6>$29,00</h6><button class="add">Add to Card</button></td>
      </tr>
      <tr>
        <td><img src="https://static.wixstatic.com/media/82fcd3_a0fa810bfaac4e67ab6f6676c2016b6d~mv2_d_1440_1920_s_2.png/v1/fill/w_206,h_275,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_a0fa810bfaac4e67ab6f6676c2016b6d~mv2_d_1440_1920_s_2.webp" alt="" data-price="79"><h5><b>I"m a product</b></h5><br> <h6>$79,00</h6><button class="add">Add to Card</button></td>
        <td><img src="https://static.wixstatic.com/media/82fcd3_b9db648977d24c77b52dc8dcd9c2c660~mv2_d_1440_1920_s_2.png/v1/fill/w_206,h_275,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_b9db648977d24c77b52dc8dcd9c2c660~mv2_d_1440_1920_s_2.webp" alt="" data-price="59"><h5><b>I"m a product</b></h5><br> <h6>$59,00</h6><button class="add">Add to Card</button></td>
        <td><img src="https://static.wixstatic.com/media/82fcd3_3691a03730ec4fc6aa0cc97b7bf54c49~mv2_d_1440_1920_s_2.png/v1/fill/w_206,h_275,al_c,q_85,usm_0.66_1.00_0.01/82fcd3_3691a03730ec4fc6aa0cc97b7bf54c49~mv2_d_1440_1920_s_2.webp" alt="" data-price="39"><h5><b>I"m a product</b></h5><br> <h6>$39,00</h6><button class="add">Add to Card</button></td>
      </tr>
      <tr></tr>
      <tr></tr>

      </table>
    </div>
<!-- sonun baslngici -->

<div id="black">
  <table>
    <tr>
      <td><h1> Be the First to Know <br>
       About Deals and <br>
      Special Offers
  </h1></td>
      <td>
       <form action="" id="emaill">
        <input type="email" id="email" name="email" placeholder="Enter your email here*">
        <button id="butn">Subscribe Now</button>

       </form>
      </td>
    </tr>
  </table>
   
  <div id="how">
   <table>
   <tr>
     <td><h4><b><p>How can we help?</p></b></h4></td>
     <span><td><h1><b>___________________________________________</b></h1></td><span>
   </tr>
   </table>

  </div>

 </div>

 <div id="info">
  <table cellpadding="10">
   <tr>
     <td> Customer Service</td>
     <td>Shop All</td>
     <td>FAQ</td>
     <td> <a href="https://www.facebook.com/">Facebook</a></td>
    </tr>
  <tr>
     <td>123-456-7890</td>
     <td>Mobil Phones</td>
     <td>Shipping & Returnes</td>
     <td> <a href="https://www.twitter.com/"> Twitter</a></td>
    </tr>
  <tr> 
     <td>info@my-domain.com</td>
     <td>Tablets</td>
     <td>Story Policy</td>
     <td> <a href="https://www.instagram.com/"> Instagram</a></td></tr>
 <tr> 
     <td>500 Terry Francois Street</td>
     <td>Accessories</td>
     <td>Payment Methods</td>
     <td> <a href="https://youtube.com/"> YouTube</a></td></tr>
   <tr> 
     <td> San Francisco, CA 94158</td>
     <td>About</td>
     <td></td>
     <td></td></tr>
 <tr> 
     <td></td>
     <td>Contact</td>
     <td></td>
     <td></td></tr>
  </table>
 </div>
</div>

</div>



</div>


 
<script>

$('.col').click(function(){
  if($('.navbarNavDropdown').is(":visible")){
     $('.navbarNavDropdown').hide()
  }else{
    $('.navbarNavDropdown').show()
  }

});

$('.pri').click(function(){
  if($('.rang').is(":visible")){
     $('.rang').hide()
  }else{
    $('.rang').show()
  }

});

//-----JS for Price Range slider-----

$(function() {
	$( "#slider-range" ).slider({
	  range: true,
	  min: 10,
	  max: 1000,
	  values: [ 50, 650 ],
	  slide: function( event, ui ) {
		$( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );


    var mi = ui.values[0];
    var mx = ui.values[1];
    filterSystem(mi,mx)
	  }
	});
	$( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
	  " - $" + $( "#slider-range" ).slider( "values", 1 ) );
});

function filterSystem(minPrice, maxPrice) {
$(" table tr td img").hide().filter(function() {
    var price = parseInt($(this).data("price"), 10);
    return price >= minPrice && price <= maxPrice;
}).show();
}




</script>




  </body>
</html>
